/*onlycau.com的基础样式 logo 导航栏 页脚*/

/*通用默认设置*/
a{
  text-decoration: none;
  outline: none;
  color: #FE4365;
}
/*页面头 flex布局 为了文本居中多了个空div*/
header{
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #D1BA74;
}

/*导航栏*/
#nav_top ul{
  margin: 0px;
  padding-left: 0px;
  background-color: #C8C8A9;
}
#nav_top ul>li{
  display: inline-block;
  font-size: 150%;
  text-align: center;
  width: 130px;
}
#nav_top ul>li:hover{
  background-color: #D1BA74;
}
#nav_top ul div {
  display: none;
  position: absolute;
  text-align: left;
/*  width: 100px;*/
  padding-left: 15px;
  padding-right: 15px;
}
}
#welcome{
  margin-top: 10px;
  margin-bottom: 10px;
  float: left;
}
#sign{
  margin-top: 10px;
  float: right;
  margin-bottom: 10px;
}
/*主体和aside*/
#main{
  display: flex;
  justify-content: space-between;
  width: 100%;
}
#blogs{
  width: 80%;
}
#others{
  background-color: #D1BA74;
  width: 20%;
}
/*页脚*/
footer{
  color:            #efe5d0;
  text-align:       center;
  padding:          15px;
  margin: 0px 10px 10px 10px;
  font-size:        90%;
}