/* 博客文章概览的样式 */
.overview{
  margin: 30px 10px 0px 10px;
}
.overview_top{
  text-align: left;
}
.overview_bottom{
  text-align: right;
}
.blog_sort{
  color: red;
}
.blog_title{
  font-size: 150%;
  color: green;
  padding-left: 30px;
}
.blog_author{
  color: red;
  padding-right: 20px;
}
.blog_date{
  padding-right: 10px;
}