/*页面头和log以及顶部导航*/

h1{
  text-align: center;
}

#logo{
  position: absolute;
  left: -70px;
  top: -50px;
  z-index: -1;
}
/*导航栏*/
nav#main{
  font-size: 150%;
  background-color: #efe5d0;
  margin: 160px 10px 20px 10px;
  position: relative;
  z-index: 1;
}
nav#main ul {
  margin: 0px;
  list-style-type: none;
  padding: 5px 0px 5px 0px;
}
nav#main ul li {
  display: inline;
  padding: 5px 10px 5px 10px;
}

/*列表布局 拆三部分*/
div#table_container{
  display: table;
  width:100%;
  margin-top: :20px;
}


/*文章列表目录导航*/
nav#artical{
  display: table-cell;
  background-color: #7a7a7a;
  width: 15%;
  padding:15px;
}
.dropdown{
  font-size: 150%;
  position: relative;
  display: inline-block;
  margin-bottom: 60px;
}
.dropdown_content{
  display: none;
  position: absolute;
  background-color: #f92;
  font-size: 100%;
}
.dropdown:hover .dropdown_content{
  display: block;
}
.dropdown_content a {
  color:black;
  text-decoration: none;
  display: block;
  font-size: 100%;
}

div.month{
  color: #0c0;
  margin-top: 60px;
}

/*文章主体*/
section#artical_text{
  display: table-cell;
  background-color: white;
  padding: 50px;
  width:70%;
  vertical-align: top;
}

/*帮助资源链接*/
aside#help{
  display: table-cell;
  background-color: #7a7a7a;
  width: 15%;
}

footer{
  color:            #efe5d0;
  text-align:       center;
  padding:          15px;
  margin: 0px 10px 10px 10px;
  font-size:        90%;
}