<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../css/note.css">
</head>

<body>

  <header>
    <img id="logo" src="../images/logo_book.png">
    <h1>Onlycau's Note</h1>
  </header>

  <nav id="main">
      <ul>
        <li class="selected"><a href="note.html">Home</a></li>
        <li><a href="sign_in">JavaScript</a></li>
        <li><a href="">Pass</a></li>
        <li><a href="http://127.0.0.1:5000/sign_in">登陆</a></li>
        <li><a href="http://127.0.0.1:5000/sign_up">注册</a></li>
      </ul>
  </nav>

  <div id="table_container">
    <nav id="artical">
      <div class="dropdown">
        <span class="year">2019</span><br>
        <div class="dropdown_content">
          <a href="http://127.0.0.1:5000/blog">2018</a>
          <a href="sign_in">2017</a>
        </div>
      <div class="month">
        <span>12(n)</span><br>
        <span>11(n)</span><br>
        <span>10(n)</span><br>
        <span>09(n)</span><br>
        <span>08(n)</span><br>
        <span id="2019_07">07(<button onclick="show_blogs2('2019_07')">n</button>)</span><br>
        <span>06(n)</span><br>
        <span>05(n)</span><br>
        <span>04(n)</span><br>
        <span>03(n)</span><br>
        <span>02(n)</span><br>
        <span>01(n)</span><br>
      </div>
      </div>
    </nav>

    <section id="artical_text">

    {{name}}

    </section>

    <aside id="help">help</aside>
  </div>

  <footer>
    onlycau©2019<br>
    <a href="http://www.miit.gov.cn">备案号33333333</a>
  </footer>

  <script type="text/javascript" src="../js/note.js"></script>

</body>
</html>