<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="../css/basic.css">
  <link rel="stylesheet" type="text/css" href="../css/blog_overview.css">
</head>

<body>

  <header>
    <div id="logo">
      <img id="logo" src="../images/logo_book2.png">
    </div>
    <div id="title">
      <h1>Onlycau的小站</h1>
    </div>
    <div id="none"></div>
  </header>

  <nav id="nav_top">
      <ul>
        <li><a href="http://127.0.0.1:5000/">首页</a></li>
        <li v-on:mouseover='show_dropdown' v-on:mouseleave='dis_dropdown'><a href="">学习笔记</a>
          <div class="dropdown">
            <span class="drop_content"><a v-on:click="new_sort('javascript')">JavaScript</a></span><br>
            <span class="drop_content"><a v-on:click="new_sort('html')">HTML</a></span><br>
            <span class="drop_content"><a v-on:click="new_sort('python')">Python</a></span><br>
            <span class="drop_content"><a v-on:click="new_sort('others')">Other</a></span><br>
          </div>
        </li>
        <li><a href="">个人简历{{blogs}}</a></li>
      </ul>
  </nav>

  <div>
    <span id="welcome">欢迎</span>
    <span id="sign">
      <a href="\sing_in\">登录</a>
      <a href="\sing_up\">注册</a>
    </span>
  </div>

  <div id="main">
    <div id="blogs" v-if='hack_reset'>
      <div-summary></div-summary>
      <div-summary></div-summary>
      <div-summary></div-summary>
      <div-summary></div-summary>
      <div-summary></div-summary>
    </div>
    <div id="others"></div id="others">
  </div>

  <footer>
    onlycau©2019<br>
    <a href="http://www.miit.gov.cn">备案号33333333</a>
  </footer>

  <script type="text/javascript" src="../js/vue.js"></script>
  <script type="text/javascript" src="../js/basic.js"></script>

</body>
</html>