<!DOCTYPE html>
<html lang="zh-cn">
<head>
  <meta charset="utf-8">
  <title></title>
  <link rel="stylesheet" type="text/css" href="/static/css/basic.css">
  <link rel="stylesheet" type="text/css" href="/static/css/sign_up.css">
</head>

<body>

  <header>
    <div id="logo">
      <img id="logo" src="/static/images/logo_book2.png">
    </div>
    <div id="title">
      <h1>Onlycau的小站</h1>
    </div>
    <div class="none"></div>
  </header>

  <div id="sign_up">
    <div id="username">
      <input v-model='name' v-on:focus='focus_name' v-on:blur='check_name()' placeholder="用户名" maxlength='12' />
        <div class="name_point">用户名不能为空</div>
        <div class="name_point">不能包含空格</div>
        <div class="name_point">你输入的用户名已经存在</div>
    </div>

    <div id="password">
      <input v-model='password' v-on:focus='focus_password' v-on:blur='check_password()' placeholder='密码' maxlength="12">
      <div class="password_point">密码不能为空</div>
      <div class="password_point">不能包含空格</div>
      <div class="password_point">长度为8-12个字符</div>
      <div class="password_point">必须包含字母、数字、符号中两种</div>
    </div>
    <div v-if='access_submit'>
      <button v-on:click="my_submit()">立即注册</button>
    </div>
  </div>

  <footer>
    onlycau©2019<br>
    <a href="http://www.miit.gov.cn">备案号33333333</a>
  </footer>

  <script type="text/javascript" src="/static/js/vue.js"></script>
  <script type="text/javascript" src="/static/js/sign_up.js"></script>

</body>
</html>