*{
  margin: 0;
}
#home{
  position: relative;
  top:0;
  left:0;
}
#home > div{
  overflow: hidden;
  height: 100vh;
  width: 100vw;
}
#page_1{
  position: absolute;
  z-index: -10;
}
#page_2{
  position: absolute;
  z-index: -20;
}
#page_3{
  background-color: #7B68EE;
  position: absolute;
  z-index: -30
}
#page_4{
  background-color: green;
  position: absolute;
  z-index: -40;
}
/*第一页*/
#carousel > div{
  position: absolute;
  height: 80vh;
  width: 100vw;
  background-size: 100% 100%;
}
.content{
  text-align: center;
  top: 18vh;
  position: absolute;
  color: black;
  z-index: 1;
}
.title{
  margin-bottom: 10px;
}
.title span{
  color: white;
  font-size: 250%;
  border-top-style: solid;
  border-bottom-style: solid;
}
.button{
  margin-top: 30px;
}
.button span{
  font-size: 150%;
  padding: 10px 20px 10px 20px;
  margin: 30px 20px 10px 20px;
  cursor: pointer;
}
.button a{
  color: white;
  text-decoration-line: none;
}
.button_1{
  background-color:#E96656;
}
.button_2{
  background-color:#20AA73;
}
#carousel_1{
  background:url('/static/img/1.png');
}
#carousel_2{
  background:url('/static/img/2.png');
}
#carousel_3{
  background:url('/static/img/3.png');
}
#carousel_4{
  background:url('/static/img/4.jpeg');
}
#note{
  top: 80vh;
  height: 20vh;
  width: 100vw;
  background-color: white;
  position: absolute;
  text-align: center;
}
#note div{
  margin-top: 10vh;
  text-align: center;
  font-size: 110%;
}
/*第二页*/
#page_4 > div{
/*  position: absolute;*/
}
#up{
  width: 100vw;
  height: 50vh;
  background-color: #339999;
}
.text{
  position: absolute;
  transform:translateX(-50%) translateY(-50%);
}
#up div.text{
  color: white;
  left:80%;
  top: 20%;
}
#down div.text{
  color: black;
  left:20%;
  top:70%;
}
.text_title{
  font-size: 200%;
  margin-bottom: 20px;
  margin-left: 30px;
}
#down{
  width: 100vw;
  height: 50vh;
  background-color: #CCFF99;
}
.img img{
  height: 40vh;
  width: 60vw;
}
#down .img{
  float: right;
}
/*第三页*/
#introduction{
  text-align: center;
  position: absolute;
  top: 50%;
  left:50%;
  transform: translate(-50%,-50%);
}
#i_title{
  color: white;
  margin-bottom: 50px;
  font-size: 200%;
}
.signs{
  margin-bottom: 35px;
}
.signs span{
  color: white;
  background-color: #7CFC00;
  padding: 10px;
  margin-right: 20px;
}
/*footer*/
#footer{
  position: absolute;
  left:50%;
  bottom: 10px;
  transform: translate(-50%,0);
  color:            #efe5d0;
  text-align:       center;
  padding:          15px;
  margin: 0px 10px 10px 10px;
  font-size:        90%;
}